Repository ReXume/techeer-resume, pull requests merged in 2024-10, with the labels that each got.

#80 [refactor] 회원가입 코드 비활성화
  backend/src/main/java/com/techeer/backend/api/user/config/SecurityConfig.java
  backend/src/main/java/com/techeer/backend/api/user/controller/UserController.java
  backend/src/main/java/com/techeer/backend/api/user/service/UserService.java
Labels: 🧹 Refactor, Backend

#87 [Backend] fix/#85
  backend/src/main/java/com/techeer/backend/api/feedback/dto/FeedbackCreateRequest.java
  backend/src/main/java/com/techeer/backend/api/resume/controller/ResumeController.java
  backend/src/main/java/com/techeer/backend/api/resume/domain/Position.java
  backend/src/main/java/com/techeer/backend/api/resume/dto/request/ResumeSearchRequest.java
  backend/src/main/java/com/techeer/backend/global/config/SecurityConfig.java
Labels: 🏷️ Fix, Backend

#98 Be/fix/#96 request, response 태그 다 바꿈
  backend/Dockerfile-develop
  backend/src/main/java/com/techeer/backend/api/feedback/converter/FeedbackConverter.java
  backend/src/main/java/com/techeer/backend/api/feedback/service/FeedbackService.java
  backend/src/main/java/com/techeer/backend/api/resume/controller/ResumeController.java
  backend/src/main/java/com/techeer/backend/api/resume/converter/ResumeConverter.java
  backend/src/main/java/com/techeer/backend/api/resume/domain/Company.java
  backend/src/main/java/com/techeer/backend/api/resume/domain/Resume.java
  backend/src/main/java/com/techeer/backend/api/resume/domain/ResumeTechStack.java
  backend/src/main/java/com/techeer/backend/api/resume/domain/TechStack.java
  backend/src/main/java/com/techeer/backend/api/resume/dto/request/CreateResumeRequest.java
  backend/src/main/java/com/techeer/backend/api/resume/dto/response/FetchResumeContentResponse.java
  backend/src/main/java/com/techeer/backend/api/resume/dto/response/ResumePageElement.java
  backend/src/main/java/com/techeer/backend/api/resume/dto/response/ResumeResponse.java
  backend/src/main/java/com/techeer/backend/api/resume/repository/CompanyRepository.java
  backend/src/main/java/com/techeer/backend/api/resume/repository/ResumeTechStackRepository.java
  backend/src/main/java/com/techeer/backend/api/resume/repository/TechStackRepository.java
  backend/src/main/java/com/techeer/backend/api/resume/service/ResumeService.java
  backend/src/main/java/com/techeer/backend/api/resume/service/ResumeTechStackService.java
  backend/src/main/java/com/techeer/backend/api/resume/service/TechStackService.java
Labels: 🏷️ Fix, 🧹 Refactor

#101 fix : dockerfile 수정
  backend/Dockerfile-develop
Labels: 🏷️ Fix, Backend

#103 Fe/feat/#75 이력서 조회 api 연동 완료
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/resumeApi.ts
  frontend/src/baseURL/baseURL.ts
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/MainPage/BannerCard.tsx
  frontend/src/components/Search/CareerModal.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/PostCard.tsx
  frontend/src/dataType.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/SearchPage.tsx
  frontend/src/store/SearchStore.ts
  frontend/yarn.lock
Labels: 🚀 Feat

#99 [fix] 콜스 에러
  backend/build.gradle
  backend/src/main/java/com/techeer/backend/BackendApplication.java
  backend/src/main/java/com/techeer/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/techeer/backend/global/config/SwaggerConfig.java
  backend/src/main/java/com/techeer/backend/global/config/WebConfig.java
  backend/src/main/java/com/techeer/backend/global/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/techeer/backend/global/oauth/OAuth2LoginSuccessHandler.java
  backend/src/main/java/com/techeer/backend/global/oauth/service/CustomOAuth2UserService.java
  backend/src/main/resources/application.yml
Labels: 🏷️ Fix, Backend

#107 fix : 백엔드 수정 사항 수정 완료
  backend/src/main/java/com/techeer/backend/api/resume/controller/ResumeController.java
  backend/src/main/java/com/techeer/backend/api/resume/converter/ResumeConverter.java
  backend/src/main/java/com/techeer/backend/api/resume/dto/response/ResumePageResponse.java
  backend/src/main/java/com/techeer/backend/api/resume/dto/response/ResumeResponse.java
  backend/src/main/java/com/techeer/backend/api/resume/service/ResumeService.java
Labels: 🏷️ Fix

#111 [fix] 프론트엔드 콜스 에러 수정
  backend/src/main/java/com/techeer/backend/global/config/SecurityConfig.java
  backend/src/test/resources/application.yml
Labels: 🏷️ Fix, Backend

#113 [fix] be/여러 수정
  backend/src/main/java/com/techeer/backend/api/resume/controller/ResumeController.java
  backend/src/main/java/com/techeer/backend/api/resume/service/ResumeService.java
Labels: 🏷️ Fix, Backend

#115 [refactor] page, size 받아오는 방식으로 변경
  backend/src/main/java/com/techeer/backend/api/resume/controller/ResumeController.java
Labels: 🧹 Refactor, Backend

#117 [feat] 권한 설정 준비 완료
  backend/src/main/java/com/techeer/backend/api/user/controller/UserController.java
  backend/src/main/java/com/techeer/backend/api/user/converter/UserConverter.java
  backend/src/main/java/com/techeer/backend/api/user/domain/User.java
  backend/src/main/java/com/techeer/backend/api/user/dto/request/SignUpRequest.java
  backend/src/main/java/com/techeer/backend/api/user/service/UserService.java
  backend/src/main/java/com/techeer/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/techeer/backend/global/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/techeer/backend/global/oauth/OAuth2LoginSuccessHandler.java
Labels: 🚀 Feat, Backend

#123 공통 응답 & 공통 예외처리 구현
  backend/src/main/java/com/techeer/backend/global/common/response/CommonResponse.java
  backend/src/main/java/com/techeer/backend/global/common/response/ReasonDto.java
  backend/src/main/java/com/techeer/backend/global/common/status/BaseStatus.java
  backend/src/main/java/com/techeer/backend/global/error/ErrorStatus.java
  backend/src/main/java/com/techeer/backend/global/error/exception/ExceptionAdvice.java
  backend/src/main/java/com/techeer/backend/global/error/exception/GeneralException.java
  backend/src/main/java/com/techeer/backend/global/success/SuccessStatus.java
Labels: 🧭 Chore, 🚀 Feat

#126 [feat] 메인페이지, 검색결과 페이지 반응형 작업 완료
  frontend/src/api/axios.config.ts
  frontend/src/api/resumeApi.ts
  frontend/src/components/MainPage/BannerCard.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/PostCard.tsx
  frontend/src/dataType.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/SearchPage.tsx
  frontend/tailwind.config.js
Labels: 🚀 Feat, Frontend
