Repository ReXume/techeer-resume, pull requests merged in 2024-12, with the labels that each got.

#172 [design] 로그인 페이지 퍼블리싱 완료
  frontend/src/assets/GithubLogin.png
  frontend/src/assets/GoogleLogin.png
  frontend/src/assets/loginText.png
  frontend/src/pages/LoginPage.tsx
Labels: 🎨Design

#191 이력서 버전 관리 추가
  backend/src/main/java/com/techeer/backend/api/resume/converter/ResumeConverter.java
  backend/src/main/java/com/techeer/backend/api/resume/domain/Resume.java
  backend/src/main/java/com/techeer/backend/api/resume/dto/response/ResumeDetailResponse.java
  backend/src/main/java/com/techeer/backend/api/resume/repository/ResumeRepository.java
  backend/src/main/java/com/techeer/backend/api/resume/service/ResumeService.java
  backend/src/main/java/com/techeer/backend/api/resume/service/facade/ResumeCreateFacade.java
Labels: 🚀 Feat, 🏷️ Fix, Backend

#190 [ feat] httpOnly 쿠키 인증 처리
  backend/src/main/java/com/techeer/backend/api/user/dto/response/UserInfoResponse.java
  backend/src/main/java/com/techeer/backend/global/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/techeer/backend/global/jwt/service/JwtService.java
  backend/src/main/java/com/techeer/backend/global/oauth/handle/OAuth2LoginSuccessHandler.java
  frontend/src/api/feedbackApi.ts
  frontend/src/api/resumeApi.ts
  frontend/src/assets/profile.svg
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/resumeoverview/ResumeOverviewSection.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/ResumeFeedbackPage.tsx
  frontend/src/store/LoginStore.ts
  frontend/src/utils/Token.tsx
  frontend/src/utils/axiosInstance.tsx
  frontend/yarn.lock
Labels: 🚀 Feat

#198 [test] CommentList 단위 테스트
  frontend/src/__test__/comment/CommentList.test.tsx
Labels: 📁 Test, Frontend

#227 유저 이력서 조회 api
  backend/src/main/java/com/techeer/backend/api/resume/controller/ResumeController.java
  backend/src/main/java/com/techeer/backend/api/resume/repository/ResumeRepository.java
  backend/src/main/java/com/techeer/backend/api/resume/service/ResumeService.java
Labels: 🚀 Feat, Backend

#214 [feat]CommentSection 단위 테스트
  frontend/src/__test__/comment/CommentSection.test.tsx
Labels: 📁 Test, Frontend
