Repository ReXume/techeer-resume, pull requests merged in 2024-11, with the labels that each got.

#133 [refactor, fix] 쿠키 설정
  backend/build.gradle
  backend/src/main/java/com/techeer/backend/api/user/controller/UserController.java
  backend/src/main/java/com/techeer/backend/global/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/techeer/backend/global/jwt/service/JwtService.java
  backend/src/main/java/com/techeer/backend/global/oauth/OAuth2LoginSuccessHandler.java
Labels: 🏷️ Fix, 🧹 Refactor, Backend

#132 [feat] 유저 정보 확인
  backend/src/main/java/com/techeer/backend/api/user/controller/UserController.java
  backend/src/main/java/com/techeer/backend/api/user/converter/UserConverter.java
  backend/src/main/java/com/techeer/backend/api/user/dto/response/UserInfoResponse.java
  backend/src/main/java/com/techeer/backend/api/user/service/UserService.java
  backend/src/main/java/com/techeer/backend/global/common/status/BaseStatus.java
  backend/src/main/java/com/techeer/backend/global/success/SuccessStatus.java
Labels: 🚀 Feat, Backend

#141 [design] 마이페이지 퍼블리싱 완료
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/MyInfoPage/BookmarkItem.tsx
  frontend/src/components/MyInfoPage/ResumeItem.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/pages/MyInfoPage.tsx
  frontend/yarn.lock
Labels: 🎨Design

#139 [feat] 소셜로그인 기능 연동
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/components/UI/LoginButton.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/utils/Cookies.tsx
  frontend/src/utils/Token.tsx
  frontend/yarn.lock
Labels: 🚀 Feat

#151 [Fix] Resume 공통 응답 및 태그 수정
  backend/src/main/java/com/techeer/backend/api/feedback/service/FeedbackService.java
  backend/src/main/java/com/techeer/backend/api/resume/controller/ResumeController.java
  backend/src/main/java/com/techeer/backend/api/resume/converter/ResumeConverter.java
  backend/src/main/java/com/techeer/backend/api/resume/domain/Resume.java
  backend/src/main/java/com/techeer/backend/api/resume/dto/request/CreateResumeRequest.java
  backend/src/main/java/com/techeer/backend/api/resume/dto/response/PageableResumeResponse.java
  backend/src/main/java/com/techeer/backend/api/resume/repository/ResumeRepository.java
  backend/src/main/java/com/techeer/backend/api/resume/service/ResumeService.java
  backend/src/main/java/com/techeer/backend/api/resume/service/facade/ResumeCreateFacade.java
  backend/src/main/java/com/techeer/backend/api/tag/position/Position.java
  backend/src/main/java/com/techeer/backend/api/user/domain/User.java
  backend/src/main/java/com/techeer/backend/global/common/response/CommonResponse.java
  backend/src/main/java/com/techeer/backend/global/common/response/ReasonDto.java
  backend/src/main/java/com/techeer/backend/global/error/ErrorStatus.java
  backend/src/main/java/com/techeer/backend/global/error/exception/ExceptionAdvice.java
  backend/src/main/java/com/techeer/backend/global/success/ResponseInterceptor.java
  backend/src/main/java/com/techeer/backend/global/success/SuccessStatus.java
Labels: 🚀 Feat, 🏷️ Fix, Backend

#169 chore : vitest설치
  frontend/package.json
  frontend/setupTests.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  frontend/yarn.lock
Labels: 🧭 Chore, Frontend

#167 [fix] 리프레쉬토큰 재발급
  backend/src/main/java/com/techeer/backend/api/user/controller/UserController.java
  backend/src/main/java/com/techeer/backend/api/user/service/UserService.java
Labels: 🏷️ Fix, Backend

#157 [fix] 소셜 로구인시 user name저장
  backend/src/main/java/com/techeer/backend/api/user/converter/UserConverter.java
  backend/src/main/java/com/techeer/backend/api/user/domain/User.java
  backend/src/main/java/com/techeer/backend/api/user/repository/UserRepository.java
  backend/src/main/java/com/techeer/backend/api/user/service/UserService.java
  backend/src/main/java/com/techeer/backend/global/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/techeer/backend/global/jwt/service/JwtService.java
  backend/src/main/java/com/techeer/backend/global/oauth/handle/OAuth2LoginSuccessHandler.java
  backend/src/main/java/com/techeer/backend/global/oauth/oauth2user/CustomOAuth2User.java
  backend/src/main/java/com/techeer/backend/global/oauth/oauth2user/GitHubOAuth2UserInfo.java
  backend/src/main/java/com/techeer/backend/global/oauth/oauth2user/GoogleOAuth2UserInfo.java
  backend/src/main/java/com/techeer/backend/global/oauth/oauth2user/OAuth2UserInfo.java
  backend/src/main/java/com/techeer/backend/global/oauth/service/CustomOAuth2UserService.java
  backend/src/main/resources/application.yml
Labels: 🏷️ Fix, 🧹 Refactor, Backend

#170 [feat] 피드백 페이지 PDF Viewer 적용 완료
  .DS_Store
  frontend/package.json
  frontend/src/api/axios.config.ts
  frontend/src/api/resumeApi.ts
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/PostCard.tsx
  frontend/src/components/resumeoverview/Footer.tsx
  frontend/src/components/resumeoverview/MainContainer.tsx
  frontend/src/components/resumeoverview/PDFPage.tsx
  frontend/src/components/resumeoverview/ResumePage.tsx
  frontend/src/components/resumeoverview/ResumePageGroup.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/ResumeFeedbackPage.tsx
  frontend/src/store/ResumeStore.ts
  frontend/src/types.ts
  frontend/yarn.lock
Labels: 🚀 Feat

#177 feat : PositionModal 단위 테스트
  frontend/src/__test__/modal/PositionModal.test.tsx
Labels: 📁 Test, Frontend

#178 feat : CommentCard 단위 테스트
  frontend/src/__test__/comment/CommentCard.test.tsx
  frontend/src/components/comment/CommentCard.tsx
Labels: 📁 Test, Frontend
